<div id="<%= dom_id game %>">
  <p>
    <strong>External:</strong>
    <%= game.external_id %>
  </p>

  <p>
    <strong>Season:</strong>
    <%= game.season_id %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= game.status %>
  </p>

  <p>
    <strong>Date:</strong>
    <%= game.date %>
  </p>

  <p>
    <strong>Start time:</strong>
    <%= game.start_time %>
  </p>

  <p>
    <strong>Away team:</strong>
    <%= game.away_team_id %>
  </p>

  <p>
    <strong>Home team:</strong>
    <%= game.home_team_id %>
  </p>

</div>
