<div class="px-4 sm:px-6 lg:px-8">
  <div class="mt-8 flow-root">
    <div class="-mx-4 -my-2 overflow-x-auto sm:-mx-6 lg:-mx-8">
      <div class="inline-block min-w-full py-2 align-middle sm:px-6 lg:px-8">
        <div>
          <h3 class="text-base font-semibold leading-6 text-gray-900">This page will not automatically update</h3>
          <dl class="mt-5 grid grid-cols-1 gap-5 sm:grid-cols-3">
            <div class="overflow-hidden rounded-lg bg-white px-4 py-5 shadow sm:p-6">
              <dt class="truncate text-sm font-medium text-gray-500"><%= @game.away_team.name %></dt>
              <dd class="mt-1 text-3xl font-semibold tracking-tight text-gray-900"><%= @game.away_score %></dd>
            </div>
            <div class="overflow-hidden rounded-lg bg-white px-4 py-5 shadow sm:p-6">
              <dt class="truncate text-sm font-medium text-gray-500"><%= @game.time_display %></dt>
              <dd class="mt-1 text-3xl font-semibold tracking-tight text-gray-900"><%= @game.time_display %></dd>
            </div>
            <div class="overflow-hidden rounded-lg bg-white px-4 py-5 shadow sm:p-6">
              <dt class="truncate text-sm font-medium text-gray-500"><%= @game.home_team.name %></dt>
              <dd class="mt-1 text-3xl font-semibold tracking-tight text-gray-900"><%= @game.home_score %></dd>
            </div>
          </dl>
        </div>
        <div class="my-4 overflow-hidden shadow ring-1 ring-black ring-opacity-5 sm:rounded-lg">
          <h3 class="pl-4 py-1 text-base font-semibold leading-6 text-gray-900"><%= @game.away_team.name %></h1>
          <table class="min-w-full divide-y divide-gray-300">
            <thead class="bg-gray-50">
              <tr>
                <th scope="col" class="pl-3 py-2 text-left text-sm font-semibold text-gray-900">Number</th>
                <th scope="col" class="pl-3 py-2 text-left text-sm font-semibold text-gray-900">Name</th>
                <% Statline::DISPLAYED_STATS.each_key do |stat_title| %>
                  <th scope="col" class="pl-3 py-2 text-left text-sm font-semibold text-gray-900"><%= stat_title %></th>
                <% end %>
              </tr>
            </thead>
            <tbody class="divide-y divide-gray-200 bg-white">
              <% skater_stats, goalie_stats = @game.away_stats.partition(&:skater?) %>
              <% skater_stats.each do |statline| %>
                <tr>
                  <td class="whitespace-nowrap pl-3 text-sm text-gray-500"><%= statline.player.jersey %></td>
                  <td class="whitespace-nowrap pl-3 text-sm text-gray-500"><%= statline.player.name %></td>
                  <% Statline::DISPLAYED_STATS.each_value do |stat_name| %>
                    <td class="whitespace-nowrap pl-3 text-sm text-gray-500"><%= statline.stat(stat_name) %></td>
                  <% end %>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
        <div class="my-4 overflow-hidden shadow ring-1 ring-black ring-opacity-5 sm:rounded-lg">
          <h3 class="pl-4 py-1 text-base font-semibold leading-6 text-gray-900"><%= @game.home_team.name %></h1>
          <table class="min-w-full divide-y divide-gray-300">
            <thead class="bg-gray-50">
              <tr>
                <th scope="col" class="pl-3 py-2 text-left text-sm font-semibold text-gray-900">Number</th>
                <th scope="col" class="pl-3 py-2 text-left text-sm font-semibold text-gray-900">Name</th>
                <% Statline::DISPLAYED_STATS.each_key do |stat_title| %>
                  <th scope="col" class="pl-3 py-2 text-left text-sm font-semibold text-gray-900"><%= stat_title %></th>
                <% end %>
              </tr>
            </thead>
            <tbody class="divide-y divide-gray-200 bg-white">
              <% skater_stats, goalie_stats = @game.home_stats.partition(&:skater?) %>
              <% skater_stats.each do |statline| %>
                <tr>
                  <td class="whitespace-nowrap pl-3 text-sm text-gray-500"><%= statline.player.jersey %></td>
                  <td class="whitespace-nowrap pl-3 text-sm text-gray-500"><%= statline.player.name %></td>
                  <% Statline::DISPLAYED_STATS.each_value do |stat_name| %>
                    <td class="whitespace-nowrap pl-3 text-sm text-gray-500"><%= statline.stat(stat_name) %></td>
                  <% end %>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
