<div id="<%= dom_id player %>">
  <p>
    <strong>External:</strong>
    <%= player.external_id %>
  </p>

  <p>
    <strong>Team:</strong>
    <%= player.team_id %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= player.name %>
  </p>

  <p>
    <strong>Jersey:</strong>
    <%= player.jersey %>
  </p>

  <p>
    <strong>Position:</strong>
    <%= player.position %>
  </p>

</div>
